$text-color: #3CEB70;
@mixin flex(){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main{
    background: #f4f4f4;
    .main-container{
        max-width: 960px;
        margin: 0 auto;
        @include flex();
        .music img{
            width: 500px;
            height: 80vh;
            
        }
        @media(max-width: 540px){
            .music img{
                display: none;
            }
        }
        .main-text{
             width: 400px;
             padding:10px;
             h2{
                 font-size: 3em;
                 margin-bottom: 20px;
                 color: $text-color;
             }
             P{
                 font-size: 18px;
                 letter-spacing: 1.115px;
                 font-style: italic;
             }
             span{
                 font-style: normal;
                 font-weight: bold;
             }
        }

        @media(max-width: 540px){
            .main-text{
                margin: 60px auto;
                text-align: center;
            }
        }
    }
}

.section{
    
}

